<tbody>

{% if employees %}

    {% for employee in employees %}

    <tr>

        <td>{{ employee.id }}</td>

        <td>{{ employee.name }}</td>

        <td>{{ employee.email }}</td>

        <td>{{ employee.department }}</td>

        <td>{{ employee.designation }}</td>

        <td>₹ {{ employee.salary }}</td>

        <td>

            <a href="/edit/{{ employee.id }}"
               class="btn btn-warning btn-sm">

                Edit

            </a>

            <a href="/delete/{{ employee.id }}"
               class="btn btn-danger btn-sm">

                Delete

            </a>

        </td>

    </tr>
    

    {% endfor %}

{% else %}

<tr>

    <td colspan="7" class="text-center">

        No Employees Found

    </td>

</tr>

{% endif %}

</tbody>